[submodule "src/pelican"]
	path = src/pelican
	url = https://github.com/MakeItZone/pelican.git
[submodule "src/pelican-plugins"]
	path = src/pelican-plugins
	url = https://github.com/MakeItZone/pelican-plugins.git
[submodule "src/pelican-themes"]
	path = src/pelican-themes
	url = https://github.com/MakeItZone/pelican-themes.git
