.carousel-image {
    background-size: cover;
    height: 80vh;
}

.jumbotron {
	color: white;
	background: transparent;
	width:80%;
	margin: auto;
	text-shadow: 	-1px -1px 1px #000,
    				1px -1px 1px #000,
    				-1px 1px 1px #000,
    				1px 1px 1px #000;  
}

.jumbotron p {
	font-size: 4vh;
	font-weight: 400;
}
